__Part 2 - Segmenting and Clustering assignment (Including Coordinates of POSTAL codes)__      
     
           
__We also use part-1 here
Part 1 - Segmenting and Clustering assignment__

In [ ]:
#IMPORT BeautifulSoup library
from bs4 import BeautifulSoup
import requests

Fetch the HTML page data

In [ ]:
source  = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

Create Soup Object

In [ ]:
soup = BeautifulSoup(source,'lxml')

Fetch TABLE ROWS from table tag

In [54]:
stat = soup.find('table', class_ ="wikitable sortable")
len(stat)
tr1 = stat.find_all('tr')

Fetch the actual data from TABLE tag

In [ ]:
final = []
for row in tr1:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    #print(cols + ",")
    final = final + cols

Creating dataframe from the list

In [ ]:
s = [final[i:i+3] for i in range(0,len(final),3)]

In [ ]:
import pandas as pd
d1 = pd.DataFrame()
d1['Postal Code'] = s
d1.head()

                                         Postal Code
0                  [M1A, Not assigned, Not assigned]
1                  [M2A, Not assigned, Not assigned]
2                       [M3A, North York, Parkwoods]
3                [M4A, North York, Victoria Village]
4  [M5A, Downtown Toronto, Regent Park, Harbourfr...

In [ ]:
k = 0
for i in range(0,180):
        for j in range(0,1):
 #          print(j)
 #          print(final[k] + "," + final[k+1] + "," + final[k+2])
            d1['Postal Code'][i] = final[k] + "," + final[k+1] + "," + final[k+2]
            k = k + 3
            
         
d1.tail()

                                           Postal Code
175                      M5Z,Not assigned,Not assigned
176                      M6Z,Not assigned,Not assigned
177                      M7Z,Not assigned,Not assigned
178  M8Z,Etobicoke,Mimico NW, The Queensway West, S...
179                      M9Z,Not assigned,Not assigned

In [ ]:
d1.head()

                                      Postal Code
0                   M1A,Not assigned,Not assigned
1                   M2A,Not assigned,Not assigned
2                        M3A,North York,Parkwoods
3                 M4A,North York,Victoria Village
4  M5A,Downtown Toronto,Regent Park, Harbourfront

In [ ]:
new = d1["Postal Code"].str.split(",", n = 2, expand = True) 
d1["a"]= new[0] 
d1["b"]= new[1] 
d1["c"]= new[2]
d1.head()

                                      Postal Code  ...                          c
0                   M1A,Not assigned,Not assigned  ...               Not assigned
1                   M2A,Not assigned,Not assigned  ...               Not assigned
2                        M3A,North York,Parkwoods  ...                  Parkwoods
3                 M4A,North York,Victoria Village  ...           Victoria Village
4  M5A,Downtown Toronto,Regent Park, Harbourfront  ...  Regent Park, Harbourfront

[5 rows x 4 columns]

In [ ]:
d1 = d1.drop(['Postal Code'],axis=1)

In [ ]:
d1.columns = ["Postal Code","Borough","Neighbourhood"]

In [ ]:
d1.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Removing rows with NOT ASSIGNED values rows in BOROUGH column

In [ ]:
d1 = d1[d1['Borough'] != 'Not assigned']
  #      d1 = d1

In [ ]:
d1.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Assigning all NOT ASSIGNED values with same name as in BOROUGH

In [ ]:
cnt = 0 
for i in range(0,103):
    j = 2
    if d1.iloc[i][j] == 'Not assigned':
        d1.iloc[i][j] = d1.iloc[i][j-1]
        j = j + 1

In [ ]:
d1 = d1.set_index('Postal Code')

In [ ]:
d1.head(10)

                      Borough                                Neighbourhood
Postal Code
M3A                North York                                    Parkwoods
M4A                North York                             Victoria Village
M5A          Downtown Toronto                    Regent Park, Harbourfront
M6A                North York             Lawrence Manor, Lawrence Heights
M7A          Downtown Toronto  Queen's Park, Ontario Provincial Government
M9A                 Etobicoke      Islington Avenue, Humber Valley Village
M1B               Scarborough                               Malvern, Rouge
M3B                North York                                    Don Mills
M4B                 East York              Parkview Hill, Woodbine Gardens
M5B          Downtown Toronto                     Garden District, Ryerson

In [ ]:
d1 = d1.reset_index()

In [ ]:
d1.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Concatenating neighbourhoods pertaining to each POSTAL CODE

In [ ]:
import pandas as pd
d2 = pd.DataFrame()
d2 = d1
d2.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [ ]:
d1['Postal Code'].value_counts()
d3 = d2.sort_values('Postal Code',ascending=True)
d3.head(10)

   Postal Code      Borough                                    Neighbourhood
6          M1B  Scarborough                                   Malvern, Rouge
12         M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
18         M1E  Scarborough                Guildwood, Morningside, West Hill
22         M1G  Scarborough                                           Woburn
26         M1H  Scarborough                                        Cedarbrae
32         M1J  Scarborough                              Scarborough Village
38         M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
44         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
51         M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
58         M1N  Scarborough                      Birch Cliff, Cliffside West

In [ ]:
for i in range(0,4):
    if d1.iloc[i][0] == d1.iloc[i+1][0]:
        print(d1.iloc[i][0])
        print(d1.iloc[i+1][0])
        print('yes')

In [ ]:
d3['Neighbourhood'] = d3['Neighbourhood'].astype(str) + ","

In [ ]:
d3.head()

   Postal Code      Borough                            Neighbourhood
6          M1B  Scarborough                          Malvern, Rouge,
12         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek,
18         M1E  Scarborough       Guildwood, Morningside, West Hill,
22         M1G  Scarborough                                  Woburn,
26         M1H  Scarborough                               Cedarbrae,

In [ ]:
d3 = d3.groupby(['Postal Code','Borough']).sum()

In [ ]:
d3.head()

                                                   Neighbourhood
Postal Code Borough
M1B         Scarborough                          Malvern, Rouge,
M1C         Scarborough  Rouge Hill, Port Union, Highland Creek,
M1E         Scarborough       Guildwood, Morningside, West Hill,
M1G         Scarborough                                  Woburn,
M1H         Scarborough                               Cedarbrae,

In [ ]:
d3 = d3.reset_index()

In [ ]:
d3['Neighbourhood'] = d3['Neighbourhood'].map(lambda x: x.rstrip(','))

FINAL DATAFRAME

In [ ]:
d3.head(10)

  Postal Code      Borough                                    Neighbourhood
0         M1B  Scarborough                                   Malvern, Rouge
1         M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough                Guildwood, Morningside, West Hill
3         M1G  Scarborough                                           Woburn
4         M1H  Scarborough                                        Cedarbrae
5         M1J  Scarborough                              Scarborough Village
6         M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8         M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9         M1N  Scarborough                      Birch Cliff, Cliffside West

In [ ]:
d3.shape

(103, 3)

In [ ]:
d3.to_csv('toronto.csv', index=False)

__Part 2 - Segmenting and Clustering assignment (Including Coordinates of POSTAL codes)__

In [47]:
cord = pd.read_csv("https://cocl.us/Geospatial_data")

In [48]:
cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [49]:
cord.shape

(103, 3)

In [50]:
cord = cord.sort_values('Postal Code',ascending=True)
cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [51]:
d3

    Postal Code      Borough                                      Neighbourhood
0           M1B  Scarborough                                     Malvern, Rouge
1           M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2           M1E  Scarborough                  Guildwood, Morningside, West Hill
3           M1G  Scarborough                                             Woburn
4           M1H  Scarborough                                          Cedarbrae
..          ...          ...                                                ...
98          M9N         York                                             Weston
99          M9P    Etobicoke                                          Westmount
100         M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

__Final Dataframe with Latitude and Longitudes__

In [52]:
d4 = pd.concat([d3, cord], axis=1)

In [53]:
d4.head()

  Postal Code      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 6 columns]